.itemsOfUser{
    display: flex;
    padding: 3rem;
}
.car {
    /* display: flex; */
    list-style: none;
}
.car button{
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 28, 112);
    padding: 5px 10px;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.cart_number{
    color: rgb(247, 28, 112);
    position: absolute;
    right: 280px;
    top: 10px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0 10px;
    font-weight: 600;
}
.btn_cart{
    border-style: none;
    background: none;
}